html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leadh1 {
  font-family: "Old Standard TT", serif;
  color: #2c2c25;
  text-transform: uppercase;
  font-weight: 400;
}

.nth-line-1,
.nth-line-2 {
  line-height: 1;
}

.nth-line-1 {
  font-size: 19vw;
}

@media (min-width: 55em) {
  .nth-line-1 {
    font-size: 10.5vw;
  }
}

.nth-line-2 {
  font-size: 14.5vw;
}
@media (min-width: 55em) {
  .nth-line-2 {
    font-size: 8vw;
  }
}
